<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/clientauth.js"></script>
    <script src="/utils.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="globalstyling">
    <nav>
        <div class="navbarbody">
            <div class="navbarflexleft">
                <div class="navbarbutton">
                Logo/Name
                </div>
                <div class="navbarbutton">
                Friend Search
                </div>
                <a class="navbarbutton" href='/friends'>
                Friends
                </a>
                <a class="navbarbutton" href='/messages'>
                Private Messages
                </a>
            </div>
            <div class="navbarflexright">
            {{#ifEqual this.locals.userID -1}}
                <a class="navbarbutton" href='/signup'>
                Create Account
                </a>
                <a class="navbarbutton" href='/login'>
                Login
                </a>
            
            {{else}}
                <a class="navbarbutton" href='/user/{{this.locals.username}}'>
                {{this.locals.username}}
                </a>
                <script>
                function tryLogout(){
                    callLogout(function(){window.location.href = '/'},function(){})
                }
                </script>
                <div class="navbarbutton" onclick='tryLogout()'>
                Logout
                </div>
            {{/ifEqual}}
            </div>
        </div>
    </nav>

    {{{body}}}
    
</body>
</html>