<html>
<head>
    <link rel="stylesheet" href="styles.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="clientauth.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body class="globalstyling">
    <nav>
        <div class="navbarbody">
            <div class="navbarflexleft">
                <div class="navbarbutton">
                Logo/Name
                </div>
                <div class="navbarbutton">
                Friend Search
                </div>
                <a class="navbarbutton" href='friends'>
                Friends
                </a>
                <a class="navbarbutton" href='messages'>
                Private Messages
                </a>
            </div>
            <div class="navbarflexright">
                <a class="createaccountbutton navbarbutton" href='signup'>
                Create Account
                </a>
                <a class="loginbutton navbarbutton" href='login'>
                Login
                </a>
            </div>
        </div>
    </nav>

    {{{body}}}
    
</body>
</html>