<script>

function updateFriendSearch(){
    var interestName = document.getElementById('interestName').value
    window.location.href = '/search/?interest='+encodeURI(interestName)
}

function callAddNewFriend(){
    var newFriendName = document.getElementById('friendUsername').value
    addNewFriend(newFriendName, function(){
        location.reload()
    }, function(){
        setNextNotification("Failed to add friend")
        location.reload()
    })
}


</script>
<main>
    <div class="mainbody">
        <div class="formBox">
            <div><b>User Search Page</b></div><br>
            <div>Currently search results interests:</div><br>
            <div>
            {{#each this.results}}
            <a class="linkBlue" href='/user/{{this.username}}'>{{this.username}}</a><br>
            <br>
            {{/each}}
            </div><br><br>
            <div>Search by your interests</div><br>
            <select name="interest" id="interestName">
            {{#each this.interests}}
                <option value="{{this.interest}}">{{this.interest}}</option>
            {{/each}}
            </select>
            <button onclick="updateFriendSearch()">Search by interest</button>
        </div>
        <br>
        <div class="formBox">
            <div><b>Add new friend by username</b></div><br>
            <input id="friendUsername"></input>
            <button onclick="callAddNewFriend()">Add new friend</button>
        </div>
    </div>
</main>