<main>
    <div class="mainbody">
        <div class="formBox">
            <div><b>Friends List</b></div><br>
            {{#each this.friends}}
            <div><a style="text-align: left;" href="/user/{{this.username}}">{{this.username}}</a></div>
            {{/each}}
        </div>
    </div>
</main>