<script>

function callRemoveFriend(username){
    alert("Removing " + username)
    removeFriend(username, function(){
        location.reload()
    }, function(){
        setNextNotification("Failed to remove friend")
        location.reload()
    })
}

</script>
<main>
    <div class="mainbody">
        <div class="formBox">
            <div><b>Current Friends List</b></div><br><br>
            {{#each this.friends}}
            <div>
                <a class="linkBlue" style="float: left;" href="/user/{{this.username}}">{{this.username}}</a>
                <a class="linkRed" style="float: right;" onclick="callRemoveFriend('{{this.username}}')">Remove Friend</a>
            </div><br><br>
            {{/each}}
            <br><br>
            <a class="boxButton" style="width:90%" href='/search'>Search for new friends</a>
        </div>
    </div>
</main>