<main>
    <div class="mainbody">
        <div class="formBox">
            <div>Static Pages Index</div><br>
            <a class="boxButton" style="width:90%" href='login'>Login</a>
            <a class="boxButton" style="width:90%" href='signup'>Create a new account</a>
            <a class="boxButton" style="width:90%" href='friends'>Friends</a>
            <a class="boxButton" style="width:90%" href='messages'>Messages</a>
            <a class="boxButton" style="width:90%" href='messagesOtherUsername'>Messages with otherUsername</a>
        </div>
    </div>
</main>