<main>
    <div class="mainbody">
        <div class="formBox">
            <div><b>Interests of {{this.otherUsername}}</b></div><br>
            <div>Currently listed interests:</div><br>
            <div>
            {{#each this.interests}}
            <a class="linkBlue" href="/search/?interest={{encodeURI this.interest}}">{{this.interest}}</a><br>
            {{/each}}
            </div><br>
        </div>
    </div>
</main>