<main>
    <div class="mainbody">
        <div class="formBox">
            <div>Create a new account</div><br>
            <input id="username" placeholder="Username..." type="text"> </input><br>
            <input id="password" placeholder="Password..." type="password"> </input><br><br>
            <input id="dob" placeholder="Date of Birth: yyyy-mm-dd" type="text"> </input><br>
            <button class="boxButton" style="width:90%" id="login" onclick="">Create Account</button><br>
        </div>
    </div>
</main>