<script>

function callAddNewInterest(){
    var interestName = document.getElementById('interestName').value
    addNewInterest(interestName, function(){
        location.reload()
    }, function(){
        setNextNotification("Failed to add interest")
        location.reload()
    })
}

function callRemoveInterest(interestName){
    removeInterest(interestName, function(){
        location.reload()
    }, function(){
        setNextNotification("Failed to remove interest")
        location.reload()
    })
}

</script>
<main>
    <div class="mainbody">
        <div class="formBox">
            <div><b>Welcome user {{this.locals.username}}</b></div><br>
            <div>Currently listed interests:</div><br>
            <div>
            {{#each this.interests}}
            <a class="linkBlue" style="float: left;" href="/search/?interest={{encodeURI this.interest}}">{{this.interest}}</a>
            <a class="linkRed" style="float: right;" onclick="callRemoveInterest('{{this.interest}}')">Remove Interest</a>
            <br>
            {{/each}}
            </div><br><br>
            <a class="boxButton" style="width:90%" href='/newinterest'>Add New Interest</a>
        </div>
    </div>
</main>